.app {
    height: 100vh;
    max-width: 1024px;
    margin: 0 auto;
    padding: 2.5rem 2rem;

    display: flex;
    flex-direction: column;
}

.app > section {
    margin-top: 6.875rem;
    display: grid;
    grid-template-columns: 5fr 6fr;
    gap: 6.625rem;

    flex: 1;
}

.app > section > div {
    height: 31.25rem;
    width: 100%;
}

.app > section > div:first-child {
    display: flex;
    flex-direction: column;
}

.app > section > div:first-child > * {
    margin-top: 3.5rem;
}

.app > section > div:first-child > *:first-child {
    margin-top: 0;
}